@import './helpers/variables';
@import './helpers/mixins';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @import './partials/header';

  .main{
    height: 100vh;
    background-color: $color-alto ;
  }
.contact-us{
    @include page-main-text($font-size:40);
    text-align: center;
}

.dummy-text{
    font-size: 30px;
    width: 80%;
    margin: auto;
}
@import './partials/footer'