@import './helpers/variables';
@import './helpers/mixins';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @import './partials/header';
  
/*Main section*/
.main{
    height: 100vh;
    background-color: $color-alto ;

    .main-section{
        display: inline-block;
        width: 44%;

        .title{
            @include page-main-text($font-size:50);
        }
        .subtitle{
            font-size: 30px;
        }

        .shop-now{
            height: 50px;
            background-color: $color-white;
            border-radius: 10px;
            color: $color-black;
            width: 35%;
            display: inline-block;
            line-height: 45px;
            text-align: center;
            font-size: 16px;
        }

        &.section1{
            vertical-align: top;
            text-align: center;
            margin-bottom: 20px;
        }

        @media screen and (min-width: $screen-ipad-start){
            padding: 20px;
            height: 50vh;
          }
        
        @media screen and (max-width: $screen600){
            display: block;
            width: 100%;
        }
        .img-responsive{
            width: 100%;
        }
    }
}

  /* Latest products */

  .latest-products{
    padding: 20px 10%;

    .product{ 
        display: inline-block;
        width: 24%;
        text-align: center;
        @media screen and (max-width: $screen600){
            display: inline-block;
            width: 49%;
            text-align: center;
            margin-bottom: 20px;;
        }
    }

    .width-80{
        max-width: 80%;
        border-radius: 10px;
    }

    .shop-product{
        display: inline-block;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        background-color: $color-havelock-blue;
        width: 100px;
        color: $color-white;
        border-radius: 10px;
    }
    .img-responsive{
        width: 100%;
    }

  }
  @import './partials/footer'