.main-cta{
    height: 50px;
    background-color: $color-white;
    border-radius: 10px;
    color: $color-black;
    width: 35%;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
}

.secondary-cta{
    display: inline-block;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    background-color: $color-havelock-blue;
    width: 100px;
    color: $color-white;
    border-radius: 10px;
}