
//Variables
$color-white: #FFFFFF;
$color-mine-shaft :  #333;
$color-alto: #ddd;
$color-black: #000;
$color-havelock-blue: #5383D3;
$color-outer-space: #33383b;
$color-regent-gray: #92999f;
$color-oslo-gray: #8f9296;
$color-black012: rgba(0, 0, 0, 0.12);
$color-shark: #292c2f;

//Screen sizes
$screen-ipad-start: 768px;
$screen600: 600px;